  // set the allowed units for data grouping
  groupingUnits = [[
    'week',                         // unit name
    [1]                             // allowed multiples
  ],
  [
    'month',
    [1, 2, 3, 4, 6]
  ]],

  // create the chart
  Highcharts.stockChart('candles', {
    rangeSelector: {
      selected: 1
    },

    title: {
      text: '{{candles_symbol}}'
    },

    yAxis: [{
      labels: {
        align: 'right',
        x: -3
      },
      title: {
        text: 'OHLC'
      },
      height: '60%',
      lineWidth: 2,
      resize: {
        enabled: true
      }
    },
    {
      labels: {
        align: 'right',
        x: -3
      },
      title: {
        text: 'Volume'
      },
      top: '65%',
      height: '35%',
      offset: 0,
      lineWidth: 2
    }],

    tooltip: {
      split: true
    },

    series: [{
      type: 'candlestick',
      name: '{{candles_symbol}}',
      data: {{ohlc}},
      dataGrouping: {
        units: groupingUnits
      }
    },
    {
      type: 'column',
      name: 'Volume',
      data: {{volume}},
      yAxis: 1,
      dataGrouping: {
        units: groupingUnits
      }
    }]
});
