{% extends 'layout.html.j2' %}

{% block title %}Products {{super()}} {% endblock %}

{% block highcharts %}
  <!-- ERROR: highcharts is not working -->
  <!-- <script src="{{url_for('static', filename='js/highcharts.js')}}"></script>
  <script src="{{url_for('static', filename='js/modules/stock.js')}}"></script> -->
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://code.highcharts.com/modules/stock.src.js"></script>
{% endblock %}

<!--display header bar-->
{% block content %}
  <!--in three column format-->
  <!--1st column: display relevant news-->
  <!--2nd column: display live candlesticks-->
  <!--    display forms-->
  <!--    display charts-->
  <!--3rd column: display streaming prices for selected instruments-->
  <!--    display forms-->
  <!--    display heatmap, correlation & volatility charts-->
  <div class="candles" styles="width: 70%; height: 400px;"></div>
{% endblock %}

{% block footer %}{{super()}}{% endblock %}

{% block js %}
  {% include 'includes/candles.html.j2' %}
{% endblock %}
