<!--display header bar-->
<!--in three column format-->
<!--1st column: display relevant news-->
<!--2nd column: display live candlesticks-->
<!--    display forms-->
<!--    display charts-->
<!--3rd column: display streaming prices for selected instruments-->
<!--    display forms-->
<!--    display heatmap, correlation & volatility charts-->
